<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PhotoBlog by mrkamis</title>
    <script src="src/jquery/dist/jquery.min.js"></script>
    <script src="src/angular/angular.min.js"></script>
    <link href="src/w3css-v3/w3.css" rel="stylesheet">
    <link href="src/w3css-themes/w3-theme-blue-grey.css" rel="stylesheet">
    <script src="src/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-app="photoBlog" class="w3-theme-l4">
    <header ng-controller="navBar" class="w3-bar w3-row w3-theme-l1 w3-opacity w3-large w3-margin-bottom">
        <button class="w3-button {{kolekcja.active}}" ng-click="go('kolekcja')"><i><img src="icons/006-home.png"></i> Kolekcja</button>
        <button class="w3-button {{panel.active}}" ng-click="go('panel')"><i><img src="icons/007-cogwheel-outline.png"></i> Panel</button>
    </header>
    <div class="w3-row w3-container" ng-controller="content">
    <div class="w3-modal" style="{{loading}}">
            <div class="w3-modal-content w3-padding-large">
                <h2>Prosze czekać..</h2>
            </div>
        </div>
        <span ng-switch="currentPage">
            <span ng-switch-when='kolekcja'>
                <span class="w3-row w3-container">
                    <my-photo ng-repeat="item in sPic" class="w3-card w3-padding w3-col l4 s12 m6"></my-photo>
                </span>
            </span>
            <span ng-switch-when="panel">
                <div ng-hide="logged" class="w3-row">
                    <div class="w3-col">
                        <h3>Logowanie: </h3>
                        <label for="lLogin">Login: <input type="text" class="w3-input {{loginFormLogin}}" ng-model="user.lLogin"></label>
                        <label for="lPassword" >Hasło: <input  type="password" class="w3-input {{loginFormPassword}}" ng-model="user.lPassword"></label>
                        <button class="w3-button" ng-click="login()">Zaloguj</button>
                    </div>

                    <br>

                    <div class="w3-col">
                        <h3>Rejestracja: </h3>
                        <label for="rLogin">Login: <input type="text" class="w3-input {{registerFormLogin}}" ng-model="user.rLogin" minlength="3"></label>
                        <label for="rPassword">Hasło: <input type="password" class="w3-input {{registerFormRepeatPassword}}" ng-model="user.rPassword"></in></label>
                        <label for="rRepeatPassword">Powtórz hasło: <input type="password" class="w3-input {{registerFormRepeatPassword}}" ng-model="user.rRepeatPassword"></label>
                        <button class="w3-button" ng-click="register()">Zarejestruj</button>
                    </div>
                </div>

                <div ng-show="logged">
                    <h3>Panel wstawiania zdjęć: </h3>
                    <form name="form">
                        Tytuł zdjęcia: <input type="text" ng-model="fileTitle.title" class="w3-input">

                        <input ng-model="file" class="w3-button" ngf-select="upload($file, $invalidFiles)"  value="Wybierz zdjęcie:" type="file" ngf-accept="'image/*'" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-min-height="200">
                        <img ngf-src="file" style="width: 50px;">

                    </form>
                    <br>
                    <button class="w3-button" ng-click="sendFile()">Wyslij</button>
                </div>
            </span>
        </span>
    </div>
</body>
</html>